-- Create Gallery Items Table if missing
CREATE TABLE IF NOT EXISTS public.gallery_items (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    project_id UUID REFERENCES public.projects(id),
    worker_id UUID REFERENCES public.profiles(id),
    title TEXT,
    description TEXT,
    image_url TEXT,
    website_url TEXT,
    is_approved BOOLEAN DEFAULT FALSE,
    is_featured BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Add Category column
ALTER TABLE public.gallery_items ADD COLUMN IF NOT EXISTS category TEXT;
